/* CSS for Introduction Section */
#introduction {
    background-image: url('../images/bg.jpeg');
    background-size: cover;
    background-position: center;
    color: white; /* Text color */
    text-align: center;
    padding: 100px 0; /* Adjust the padding as needed */
}

#introduction h1 {
    font-size: 36px;
}

#overview {
    padding: 100px 0;
}

#roles {
    padding: 100px 0;
}

#roles ul li {
    text-align: left;
}

#hypothesis {
    padding: 50px 0;
}

.alignleft {
    text-align: left;
}

#insight {
    padding: 50px 0;
}

#problem {
    padding: 50px 0;
}

#protoype {
    padding: 100px 0;
}
/* Customize other styles as needed */
